{{page-title "IGM | Informa Global Markets"}}
<TopNav>
    <div class="search-bar">
        <div class="search-bar-input-ds">
            <Input
                @type="text"
                id="deal-search"
                placeholder="Add Search Title"
                @value={{this.title}}
                autofocus="true"
            />
        </div>

        <div class="search-bar-actions">
            {{#if this.pendingSearch}}
                <button type="button" {{on 'click' this.findTable}} class="btn btn-success">Run Volume Report</button>
            {{else}}
                <button type="button" {{on 'click' this.backToSearch}} class="btn btn-success">Back To Search</button>
            {{/if}}
            <IgmTooltip @text="Save your search term to rerun in the future" @position="left" @offsetY='-2.5'>
                <button type="button" {{on 'click' this.saveSearch}} class="btn btn-success">Save</button>
            </IgmTooltip>
            {{#if this.savedVolumeReportSearches}}
                <div class="dropdown">
                    <button {{on 'click' (fn this.setIsSavedSearchOpen true)}} class="btn btn-success dropdown-toggle" type="button">
                        Saved Volume Searches
                        <span class="caret"></span>
                    </button>
                    {{#if this.isSavedSearchOpen}}
                        <div class="addAssets">
                            <SavedSearchesList
                                @searchTitle="Saved Volume Searches"
                                @searches={{this.savedVolumeReportSearches}}
                                @selectSearch={{this.goToSavedSearch}}
                                @delete={{this.deleteSearch}}
                                @setSearchOpen={{this.setIsSavedSearchOpen}}
                            />
                        </div>
                    {{/if}}
                </div>
            {{/if}}
            <button type="button" {{on 'click' this.resetFilters}} class="btn btn-success">Reset Filters</button>
        </div>
    </div>
</TopNav>

<div class="volume-table-filter collapse" id="fields">
    <div class="panel panel-default">
        <ul class="nav nav-tabs nav-justified">
            <li id="cvrTab" class="active"><a data-toggle="tab" href="#cvr" {{on 'click' this.setCVR}}>Corporate Volume Report</a></li>
            <li id="cvirTab"><a data-toggle="tab" href="#cvir" {{on 'click' this.setCVIR}}>Corporate Volume By Industry Report</a></li>
            <li id="sfvrTab"><a data-toggle="tab" href="#sfvr" {{on 'click' this.setSFVR}}>Structured Finance Volume Report</a></li>
        </ul>
        <div class="panel-body">
            <div id="cvr" class="tab-pane fade in active">
                {{#if this.showCorpVolumeReportFilter}}
                    <div class="row">
                        {{#if this.session.currentUser.role}}
                            <div class="col-md-4">
                                <label for="dateOfferedGteMoment">Date From</label>
                                <DatetimePicker
                                    @date={{this.dateOfferedGteMoment}}
                                    @timeZone="UTC"
                                    @onChange={{fn (mut this.dateOfferedGteMoment)}}
                                />
                                <div class="second-field-vertical-align">
                                    <label for="dateOfferedLteMoment">Date To</label>
                                    <DatetimePicker
                                        @date={{this.dateOfferedLteMoment}}
                                        @timeZone="UTC"
                                        @onChange={{fn (mut this.dateOfferedLteMoment)}}
                                    />
                                </div>
                            </div>
                        {{/if}}
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.region}}
                                @options={{this.regionOptions}}
                                @multiple={{true}}
                                @label="Region"
                                @optionLabelPath="displayName"
                                @searchEnabled={{true}}
                                @search={{this.searchRegions}}
                                @onChange={{this.regionChange}}
                            />
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.displayCurrency}}
                                    @options={{this.dealOptions.displayCurrency}}
                                    @multiple={{true}}
                                    @label="Display Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchDisplayCurrency}}
                                    @onChange={{this.displayCurrencyChange}}
                                />
                            </div>
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.currency}}
                                    @options={{this.dealOptions.currency}}
                                    @multiple={{true}}
                                    @label="Deal Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchCurrency}}
                                    @onChange={{this.currencyChange}}
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.selfLedOption}}
                                @options={{this.dealOptions.affirmation}}
                                @multiple={{true}}
                                @label="Include Self-Led Deals?"
                                @searchEnabled={{true}}
                                @search={{this.searchSelfLead}}
                                @onChange={{this.selfLeadChange}}
                            />

                            <IgmPowerSelect
                                @selection={{this.periodOption}}
                                @options={{this.dealOptions.period}}
                                @multiple={{true}}
                                @label="Period"
                                @searchEnabled={{true}}
                                @search={{this.searchPeriod}}
                                @onChange={{this.periodChange}}
                            />
                        </div>
                    </div>
                    <div class="row volume-search-advanced-filter-button">
                        {{#if this.advancedFieldsShown}}
                            <button class="btn btn-sm btn-success" {{on 'click' this.hideAdvancedFields}}>Hide Advanced Fields</button>
                        {{else}}
                            <button class="btn btn-sm btn-success" {{on 'click' this.showAdvancedFields}}>Show Advanced Fields</button>
                        {{/if}}
                    </div>
                    <div class="collapse" id="more-fields">
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.issuersSelection}}
                                    @label="Issuer"
                                    @optionLabelPath="name"
                                    @multiple={{true}}
                                    @placeholder="Choose an issuer"
                                    @onChange={{this.issuerChange}}
                                    @search={{perform this.searchIssuers}}
                                    @searchEnabled={{true}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.bookManagerBanksSelection}}
                                    @errors={{@deal.errors.bookManagerBanks}}
                                    @label="Book Manager"
                                    @multiple={{true}}
                                    @optionLabelPath="fullName"
                                    @placeholder="Choose a manager"
                                    @onChange={{this.onBookManagerBankChange}}
                                    @searchEnabled={{true}}
                                    @searchField="fullName"
                                    @search={{perform this.searchBookBanks}}
                                    @closeOnSelect={{false}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.industriesSelection}}
                                    @options={{this.industries}}
                                    @errors={{@deal.errors.industry}}
                                    @label="Industry"
                                    @multiple={{true}}
                                    @optionLabelPath="displayName"
                                    @searchEnabled={{true}}
                                    @onChange={{this.industryChange}}
                                    @search={{this.searchIndustriesOptions}}
                                />

                                <IgmPowerSelect
                                    @selection={{this.industriesExcludeSelection}}
                                    @options={{this.industries}}
                                    @label="Exclude Industry"
                                    @placeholder="Choose an industry"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="displayName"
                                    @onChange={{this.industryExcludeChange}}
                                    @search={{this.searchIndustriesOptions}}
                                />
                            </div>
                            <div class="col-md-4">
                                <label for="maturityGteMoment">Maturity From</label>
                                <DatetimePicker
                                    @date={{this.maturityGteMoment}}
                                    @timeZone="UTC"
                                    @onChange={{fn (mut this.maturityGteMoment)}}
                                />
                                <div class="second-field-vertical-align">
                                    <label for="maturityLteMoment">Maturity To</label>
                                    <DatetimePicker
                                        @date={{this.maturityLteMoment}}
                                        @timeZone="UTC"
                                        @onChange={{fn (mut this.maturityLteMoment)}}
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.couponTypeSelection}}
                                    @options={{this.dealOptions.couponType}}
                                    @label="Coupon Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.couponTypeChange}}
                                    @search={{this.searchCouponTypeOptions}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.couponTypeExcludeSelection}}
                                    @options={{this.dealOptions.couponType}}
                                    @label="Exclude Coupon Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.couponExcludeChange}}
                                    @search={{this.searchCouponTypeOptions}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.countriesSelection}}
                                    @options={{this.countries}}
                                    @label="Country/Region of Issuer"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="name"
                                    @onChange={{this.countryChange}}
                                    @search={{this.searchCountry}}
                                />

                                <IgmPowerSelect
                                    @selection={{this.countriesExcludeSelection}}
                                    @options={{this.countries}}
                                    @label="Exclude Country/Region of Issuer"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="name"
                                    @onChange={{this.countryExcludeChange}}
                                    @search={{this.searchCountry}}
                                />
                            </div>
                            <div class="col-md-4">
                                <div class="volume-search-checkbox">
                                    <IgmCheckbox
                                        @label="Emerging Markets"
                                        @checked={{this.emergingMarket}}
                                        @value="true"
                                    />
                                </div>
                                <div class="volume-search-checkbox">
                                    <IgmCheckbox
                                        @label=" Exclude Emerging Markets"
                                        @checked={{this.emergingMarketExclude}}
                                        @value="true"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.subordinatedHybridPreferredSelection}}
                                    @options={{this.dealOptions.subordinatedHybridPreferred}}
                                    @label="Subordinated/Hybrid/Preferred"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.subordinatedHybridPreferredChange}}
                                    @search={{this.searchSubordinatedHybridPreferred}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.subordinatedHybridPreferredExcludeSelection}}
                                    @options={{this.dealOptions.subordinatedHybridPreferred}}
                                    @label="Exclude Subordinated/Hybrid/Preferred"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.subordinatedHybridPreferredExcludeChange}}
                                    @search={{this.searchSubordinatedHybridPreferred}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmInput
                                    @value={{this.term}}
                                    @errors={{@deal.errors.term}}
                                    @label="Term"
                                />
                                <IgmInput
                                    @value={{this.termExclude}}
                                    @errors={{@deal.errors.term}}
                                    @label="Exclude Term"
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.coveredBondsSelection}}
                                    @options={{this.dealOptions.coveredBonds}}
                                    @label="Covered Bonds"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.coveredBondsChange}}
                                    @search={{this.searchCoveredBonds}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.coveredBondsExcludeSelection}}
                                    @options={{this.dealOptions.coveredBonds}}
                                    @label="Exclude Covered Bonds"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.coveredBondsExcludeChange}}
                                    @search={{this.searchCoveredBonds}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.ratingSelection}}
                                    @options={{this.dealOptions.rating}}
                                    @label="Rating Category"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.ratingChange}}
                                    @search={{this.searchRating}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.ratingExcludeSelection}}
                                    @options={{this.dealOptions.rating}}
                                    @label="Exclude Rating Category"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.ratingExcludeChange}}
                                    @search={{this.searchRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.dealTypeSelection}}
                                    @options={{this.dealOptions.dealType}}
                                    @label="Deal Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.dealTypeChange}}
                                    @search={{this.searchDealType}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.dealTypeExcludeSelection}}
                                    @options={{this.dealOptions.dealType}}
                                    @label="Exclude Deal Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.dealTypeExcludeChange}}
                                    @search={{this.searchDealType}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.marketTypeSelection}}
                                    @options={{this.dealOptions.marketType}}
                                    @label="Market Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.marketTypeChange}}
                                    @search={{this.searchMarketType}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.marketTypeExcludeSelection}}
                                    @options={{this.dealOptions.marketType}}
                                    @label="Exclude Market Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.marketTypeExcludeChange}}
                                    @search={{this.searchMarketType}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.moodysRatingSelection}}
                                    @options={{this.dealOptions.moodysRating}}
                                    @label="Moody's Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.moodysRatingChange}}
                                    @search={{this.searchMoodysRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.spRatingSelection}}
                                    @options={{this.dealOptions.spRating}}
                                    @label="S&P Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.spRatingChange}}
                                    @search={{this.searchSpRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.fitchRatingSelection}}
                                    @options={{this.dealOptions.fitchRating}}
                                    @label="Fitch Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.fitchRatingChange}}
                                    @search={{this.searchfitchRating}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.formatSelection}}
                                    @options={{this.dealOptions.format}}
                                    @label="Format"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.formatChange}}
                                    @search={{this.searchFormat}}
                                />
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
            <div id="cvir" class="tab-pane fade">
                {{#if this.showCorpIndustryReportFilter}}
                    <div class="row">
                        {{#if this.session.currentUser.role}}
                            <div class="col-md-4">
                                <label for="dateOfferedGteMoment">Date From</label>
                                <DatetimePicker
                                    @date={{this.dateOfferedGteMoment}}
                                    @timeZone="UTC"
                                    @onChange={{fn (mut this.dateOfferedGteMoment)}}
                                />
                                <div class="second-field-vertical-align">
                                    <label for="dateOfferedLteMoment">Date To</label>
                                    <DatetimePicker
                                        @date={{this.dateOfferedLteMoment}}
                                        @timeZone="UTC"
                                        @onChange={{fn (mut this.dateOfferedLteMoment)}}
                                    />
                                </div>
                            </div>
                        {{/if}}
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.region}}
                                @options={{this.regionOptions}}
                                @multiple={{true}}
                                @label="Region"
                                @optionLabelPath="displayName"
                                @searchEnabled={{true}}
                                @search={{this.searchRegions}}
                                @onChange={{this.regionChange}}
                            />
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.displayCurrency}}
                                    @options={{this.dealOptions.displayCurrency}}
                                    @multiple={{true}}
                                    @label="Display Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchDisplayCurrency}}
                                    @onChange={{this.displayCurrencyChange}}
                                />
                            </div>
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.currency}}
                                    @options={{this.dealOptions.currency}}
                                    @multiple={{true}}
                                    @label="Deal Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchCurrency}}
                                    @onChange={{this.currencyChange}}
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.selfLedOption}}
                                @options={{this.dealOptions.affirmation}}
                                @multiple={{true}}
                                @label="Include Self-Led Deals?"
                                @searchEnabled={{true}}
                                @search={{this.searchSelfLead}}
                                @onChange={{this.selfLeadChange}}
                            />
                            <IgmPowerSelect
                                @selection={{this.periodOption}}
                                @options={{this.dealOptions.period}}
                                @multiple={{true}}
                                @label="Period"
                                @searchEnabled={{true}}
                                @search={{this.searchPeriod}}
                                @onChange={{this.periodChange}}
                            />
                        </div>
                    </div>
                    <div class="row volume-search-advanced-filter-button">
                        {{#if this.advancedFieldsShown}}
                            <button class="btn btn-sm btn-success" {{on 'click' this.hideAdvancedFields}}>Hide Advanced Fields</button>
                        {{else}}
                            <button class="btn btn-sm btn-success" {{on 'click' this.showAdvancedFields}}>Show Advanced Fields</button>
                        {{/if}}
                    </div>
                    <div class="collapse" id="more-fields">
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.issuersSelection}}
                                    @label="Issuer"
                                    @optionLabelPath="name"
                                    @multiple={{true}}
                                    @placeholder="Choose an issuer"
                                    @onChange={{this.issuerChange}}
                                    @search={{perform this.searchIssuers}}
                                    @searchEnabled={{true}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.bookManagerBanksSelection}}
                                    @errors={{@deal.errors.bookManagerBanks}}
                                    @label="Book Manager"
                                    @multiple={{true}}
                                    @optionLabelPath="fullName"
                                    @placeholder="Choose a manager"
                                    @onChange={{this.onBookManagerBankChange}}
                                    @searchEnabled={{true}}
                                    @searchField="fullName"
                                    @search={{perform this.searchBookBanks}}
                                    @closeOnSelect={{false}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.industriesSelection}}
                                    @options={{this.industries}}
                                    @errors={{@deal.errors.industry}}
                                    @label="Industry"
                                    @multiple={{true}}
                                    @optionLabelPath="displayName"
                                    @searchEnabled={{true}}
                                    @onChange={{this.industryChange}}
                                    @search={{this.searchIndustriesOptions}}
                                />

                                <IgmPowerSelect
                                    @selection={{this.industriesExcludeSelection}}
                                    @options={{this.industries}}
                                    @label="Exclude Industry"
                                    @placeholder="Choose an industry"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="displayName"
                                    @onChange={{this.industryExcludeChange}}
                                    @search={{this.searchIndustriesOptions}}
                                />
                            </div>
                            <div class="col-md-4">
                                <label for="maturityGteMoment">Maturity From</label>
                                <DatetimePicker
                                    @date={{this.maturityGteMoment}}
                                    @timeZone="UTC"
                                    @onChange={{fn (mut this.maturityGteMoment)}}
                                />
                                <div class="second-field-vertical-align">
                                    <label for="maturityLteMoment">Maturity To</label>
                                    <DatetimePicker
                                        @date={{this.maturityLteMoment}}
                                        @timeZone="UTC"
                                        @onChange={{fn (mut this.maturityLteMoment)}}
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.couponTypeSelection}}
                                    @options={{this.dealOptions.couponType}}
                                    @label="Coupon Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.couponTypeChange}}
                                    @search={{this.searchCouponTypeOptions}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.couponTypeExcludeSelection}}
                                    @options={{this.dealOptions.couponType}}
                                    @label="Exclude Coupon Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.couponExcludeChange}}
                                    @search={{this.searchCouponTypeOptions}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.countriesSelection}}
                                    @options={{this.countries}}
                                    @label="Country/Region of Issuer"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="name"
                                    @onChange={{this.countryChange}}
                                    @search={{this.searchCountry}}
                                />

                                <IgmPowerSelect
                                    @selection={{this.countriesExcludeSelection}}
                                    @options={{this.countries}}
                                    @label="Exclude Country/Region of Issuer"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @optionLabelPath="name"
                                    @onChange={{this.countryExcludeChange}}
                                    @search={{this.searchCountry}}
                                />
                            </div>
                            <div class="col-md-4">
                                <div class="volume-search-checkbox">
                                    <IgmCheckbox
                                        @label="Emerging Markets"
                                        @checked={{this.emergingMarket}}
                                        @value="true"
                                    />
                                </div>
                                <div class="volume-search-checkbox">
                                    <IgmCheckbox
                                        @label=" Exclude Emerging Markets"
                                        @checked={{this.emergingMarketExclude}}
                                        @value="true"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.subordinatedHybridPreferredSelection}}
                                    @options={{this.dealOptions.subordinatedHybridPreferred}}
                                    @label="Subordinated/Hybrid/Preferred"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.subordinatedHybridPreferredChange}}
                                    @search={{this.searchSubordinatedHybridPreferred}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.subordinatedHybridPreferredExcludeSelection}}
                                    @options={{this.dealOptions.subordinatedHybridPreferred}}
                                    @label="Exclude Subordinated/Hybrid/Preferred"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.subordinatedHybridPreferredExcludeChange}}
                                    @search={{this.searchSubordinatedHybridPreferred}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmInput
                                    @value={{this.term}}
                                    @errors={{@deal.errors.term}}
                                    @label="Term"
                                />
                                <IgmInput
                                    @value={{this.termExclude}}
                                    @errors={{@deal.errors.term}}
                                    @label="Exclude Term"
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.coveredBondsSelection}}
                                    @options={{this.dealOptions.coveredBonds}}
                                    @label="Covered Bonds"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.coveredBondsChange}}
                                    @search={{this.searchCoveredBonds}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.coveredBondsExcludeSelection}}
                                    @options={{this.dealOptions.coveredBonds}}
                                    @label="Exclude Covered Bonds"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.coveredBondsExcludeChange}}
                                    @search={{this.searchCoveredBonds}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.ratingSelection}}
                                    @options={{this.dealOptions.rating}}
                                    @label="Rating Category"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.ratingChange}}
                                    @search={{this.searchRating}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.ratingExcludeSelection}}
                                    @options={{this.dealOptions.rating}}
                                    @label="Exclude Rating Category"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.ratingExcludeChange}}
                                    @search={{this.searchRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.dealTypeSelection}}
                                    @options={{this.dealOptions.dealType}}
                                    @label="Deal Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.dealTypeChange}}
                                    @search={{this.searchDealType}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.dealTypeExcludeSelection}}
                                    @options={{this.dealOptions.dealType}}
                                    @label="Exclude Deal Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.dealTypeExcludeChange}}
                                    @search={{this.searchDealType}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.marketTypeSelection}}
                                    @options={{this.dealOptions.marketType}}
                                    @label="Market Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.marketTypeChange}}
                                    @search={{this.searchMarketType}}
                                />
                                <IgmPowerSelect
                                    @selection={{this.marketTypeExcludeSelection}}
                                    @options={{this.dealOptions.marketType}}
                                    @label="Exclude Market Type"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.marketTypeExcludeChange}}
                                    @search={{this.searchMarketType}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.moodysRatingSelection}}
                                    @options={{this.dealOptions.moodysRating}}
                                    @label="Moody's Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.moodysRatingChange}}
                                    @search={{this.searchMoodysRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.spRatingSelection}}
                                    @options={{this.dealOptions.spRating}}
                                    @label="S&P Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.spRatingChange}}
                                    @search={{this.searchSpRating}}
                                />
                            </div>
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.fitchRatingSelection}}
                                    @options={{this.dealOptions.fitchRating}}
                                    @label="Fitch Rating"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.fitchRatingChange}}
                                    @search={{this.searchfitchRating}}
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.formatSelection}}
                                    @options={{this.dealOptions.format}}
                                    @label="Format"
                                    @multiple={{true}}
                                    @searchEnabled={{true}}
                                    @onChange={{this.formatChange}}
                                    @search={{this.searchFormat}}
                                />
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
            <div id="sfvr" class="tab-pane fade">
                {{#if this.showSFVolumeReportFilter}}
                    <div class="row">
                        {{#if this.session.currentUser.role}}
                            <div class="col-md-4">
                                <label for="dateOfferedGteMoment">Date From</label>
                                <DatetimePicker
                                    @date={{this.dateOfferedGteMoment}}
                                    @timeZone="UTC"
                                    @onChange={{fn (mut this.dateOfferedGteMoment)}}
                                />
                                <div class="second-field-vertical-align">
                                    <label for="dateOfferedLteMoment">Date To</label>
                                    <DatetimePicker
                                        @date={{this.dateOfferedLteMoment}}
                                        @timeZone="UTC"
                                        @onChange={{fn (mut this.dateOfferedLteMoment)}}
                                    />
                                </div>
                            </div>
                        {{/if}}
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.region}}
                                @options={{this.regionOptions}}
                                @multiple={{true}}
                                @label="Region"
                                @optionLabelPath="displayName"
                                @searchEnabled={{true}}
                                @search={{this.searchRegions}}
                                @onChange={{this.regionChange}}
                            />
                        </div>
                        {{#if this.sfEuropeOptionsAvailable}}
                            <div class="col-md-4">
                                <div class="col-md-6">
                                    <IgmPowerSelect
                                        @selection={{this.sfReportCategory}}
                                        @options={{this.dealOptions.sfReportCategory}}
                                        @multiple={{true}}
                                        @label="Select a report category"
                                        @searchEnabled={{true}}
                                        @search={{this.searchSfReportCategory}}
                                        @onChange={{this.sfReportCategoryChange}}
                                    />
                                </div>
                                <div class="col-md-6">
                                    <IgmPowerSelect
                                        @selection={{this.sfReportType}}
                                        @options={{this.dealOptions.sfReportType}}
                                        @multiple={{true}}
                                        @label="Select a report type"
                                        @searchEnabled={{true}}
                                        @search={{this.searchSfReportType}}
                                        @onChange={{this.sfReportTypeChange}}
                                    />
                                </div>
                            </div>
                        {{else}}
                            <div class="col-md-4">
                                <IgmPowerSelect
                                    @selection={{this.sfReportCategory}}
                                    @options={{this.dealOptions.sfReportCategory}}
                                    @multiple={{true}}
                                    @label="Select a report category"
                                    @searchEnabled={{true}}
                                    @search={{this.searchSfReportCategory}}
                                    @onChange={{this.sfReportCategoryChange}}
                                />
                            </div>
                        {{/if}}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="dateOfferedLteMoment">Date To</label>
                            <DatetimePicker
                                @date={{this.dateOfferedLteMoment}}
                                @timeZone="UTC"
                                @onChange={{fn (mut this.dateOfferedLteMoment)}}
                            />
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.displayCurrency}}
                                    @options={{this.dealOptions.displayCurrency}}
                                    @multiple={{true}}
                                    @label="Display Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchDisplayCurrency}}
                                    @onChange={{this.displayCurrencyChange}}
                                />
                            </div>
                            <div class="col-md-6">
                                <IgmPowerSelect
                                    @selection={{this.currency}}
                                    @options={{this.dealOptions.currency}}
                                    @multiple={{true}}
                                    @label="Deal Currency"
                                    @searchEnabled={{true}}
                                    @search={{this.searchCurrency}}
                                    @onChange={{this.currencyChange}}
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.periodOption}}
                                @options={{this.dealOptions.period}}
                                @multiple={{true}}
                                @label="Period"
                                @searchEnabled={{true}}
                                @search={{this.searchPeriod}}
                                @onChange={{this.periodChange}}
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.countriesSelection}}
                                @options={{this.countries}}
                                @multiple={{true}}
                                @label="Country of Issuer"
                                @searchEnabled={{true}}
                                @optionLabelPath="name"
                                @search={{this.searchCountries}}
                                @onChange={{this.countriesChange}}
                            />
                        </div>
                        <div class="col-md-4">
                            <IgmPowerSelect
                                @selection={{this.esgSriDealTypeSelection}}
                                @options={{this.dealOptions.esgSriDealType}}
                                @multiple={{true}}
                                @label="Structured Finance ESG/SRI Deal Type"
                                @searchEnabled={{true}}
                                @search={{this.searchEsgSriDealType}}
                                @onChange={{this.esgSriDealTypeChange}}
                            />
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>