<h1>New Calendar Event</h1>

<CalendarEventForm
  @calendarEvent={{this.model}}
  @allCountries={{this.allCountries}}
  @cancel={{this.cancel}}
  @save={{this.saveCalendarEvent}}
  @toggle={{this.toggleAllDay}}
/>
