<h1>{{this.model.name}}</h1>
<TechnicalForm
  @publish={{this.publish}}
  @technical={{this.model}}
  @newCommentaryBody={{this.newCommentaryBody}}
  @newCommentaryHeadline={{this.newCommentaryHeadline}}
  @commentsPage={{this.page}}
  @destinations={{this.destinations}}
/>