<div class="row" {{did-insert this.didReceiveAttrs}}>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="pull-left">{{@technicalComposite.name}}</div>
        <div class="pull-right">
          <ul class="panel-actions">
            <li>
              <b>KEY: [ ] = OBJECTIVE</b>, ( ) = STOP-LOSS
            </li>
            <li>
              <AddFeedPopover
                @feed={{this.feed}}
                @save={{(this.saveFeed)}}
                @iconClass="icon-plus"
              />
            </li>
          </ul>
        </div>
      </div>
      <TechnicalCompositeTable @technicalComposite={{@technicalComposite}} />
    </div>
  </div>
</div>