<div class="row">
  <div class="col-md-3">

    <div class="product-title {{@title}}" title={{@title}} data-t="discover-product-type">
      {{#if @isNew}}
        <div class="new">*NEW!*</div>
      {{/if}}
      {{!-- {{capitalize this.title}} --}}
       {{@title}}
    </div>
  </div>

  <div class="col-md-9">
    {{yield}}
  </div>
</div>