{{#if this.hasGeoStats}}
  <br>
  <li>
    <span class="text-muted">Stats by Geography </span>
  </li>
  {{#if @deal.distribution.emea}}
    <li>
      <span class="text-muted">EMEA: </span>
      <span class="pull-right">{{@deal.distribution.emea}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.europe}}
    <li>
      <span class="text-muted">Europe: </span>
      <span class="pull-right">{{@deal.distribution.europe}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.germanyAustriaSwitzerland}}
    <li>
      <span class="text-muted">Germany/Austria/Switzerland: </span>
      <span class="pull-right">{{@deal.distribution.germanyAustriaSwitzerland}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.germanyAustria}}
    <li>
      <span class="text-muted">Germany/Austria: </span>
      <span class="pull-right">{{@deal.distribution.germanyAustria}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.germany}}
    <li>
      <span class="text-muted">Germany: </span>
      <span class="pull-right">{{@deal.distribution.germany}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.austria}}
    <li>
      <span class="text-muted">Austria: </span>
      <span class="pull-right">{{@deal.distribution.austria}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.switzerland}}
    <li>
      <span class="text-muted">Switzerland: </span>
      <span class="pull-right">{{@deal.distribution.switzerland}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.ukIreland}}
    <li>
      <span class="text-muted">UK/Ireland: </span>
      <span class="pull-right">{{@deal.distribution.ukIreland}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.uk}}
    <li>
      <span class="text-muted">UK: </span>
      <span class="pull-right">{{@deal.distribution.uk}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.ireland}}
    <li>
      <span class="text-muted">Ireland: </span>
      <span class="pull-right">{{@deal.distribution.ireland}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.france}}
    <li>
      <span class="text-muted">France: </span>
      <span class="pull-right">{{@deal.distribution.france}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.benelux}}
    <li>
      <span class="text-muted">BeNeLux: </span>
      <span class="pull-right">{{@deal.distribution.benelux}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.belgium}}
    <li>
      <span class="text-muted">Belgium: </span>
      <span class="pull-right">{{@deal.distribution.belgium}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.netherlands}}
    <li>
      <span class="text-muted">Netherlands: </span>
      <span class="pull-right">{{@deal.distribution.netherlands}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.luxembourg}}
    <li>
      <span class="text-muted">Luxembourg: </span>
      <span class="pull-right">{{@deal.distribution.luxembourg}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.nordics}}
    <li>
      <span class="text-muted">Nordics: </span>
      <span class="pull-right">{{@deal.distribution.nordics}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.scandinavia}}
    <li>
      <span class="text-muted">Scandinavia: </span>
      <span class="pull-right">{{@deal.distribution.scandinavia}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.norway}}
    <li>
      <span class="text-muted">Norway: </span>
      <span class="pull-right">{{@deal.distribution.norway}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.sweden}}
    <li>
      <span class="text-muted">Sweden: </span>
      <span class="pull-right">{{@deal.distribution.sweden}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.denmark}}
    <li>
      <span class="text-muted">Denmark: </span>
      <span class="pull-right">{{@deal.distribution.denmark}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.finland}}
    <li>
      <span class="text-muted">Finland: </span>
      <span class="pull-right">{{@deal.distribution.finland}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.southernEurope}}
    <li>
      <span class="text-muted">Southern Europe: </span>
      <span class="pull-right">{{@deal.distribution.southernEurope}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.iberia}}
    <li>
      <span class="text-muted">Iberia: </span>
      <span class="pull-right">{{@deal.distribution.iberia}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.italy}}
    <li>
      <span class="text-muted">Italy: </span>
      <span class="pull-right">{{@deal.distribution.italy}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.spain}}
    <li>
      <span class="text-muted">Spain: </span>
      <span class="pull-right">{{@deal.distribution.spain}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.portugal}}
    <li>
      <span class="text-muted">Portugal: </span>
      <span class="pull-right">{{@deal.distribution.portugal}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.greece}}
    <li>
      <span class="text-muted">Greece: </span>
      <span class="pull-right">{{@deal.distribution.greece}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.centralAndEasternEurope}}
    <li>
      <span class="text-muted">Central &amp; Eastern Europe: </span>
      <span class="pull-right">{{@deal.distribution.centralAndEasternEurope}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.otherEurope}}
    <li>
      <span class="text-muted">Other Europe: </span>
      <span class="pull-right">{{@deal.distribution.otherEurope}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.middleEastAfrica}}
    <li>
      <span class="text-muted">Middle East/Africa: </span>
      <span class="pull-right">{{@deal.distribution.middleEastAfrica}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.middleEast}}
    <li>
      <span class="text-muted">Middle East: </span>
      <span class="pull-right">{{@deal.distribution.middleEast}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.americas}}
    <li>
      <span class="text-muted">AMERICAS: </span>
      <span class="pull-right">{{@deal.distribution.americas}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.northAmerica}}
    <li>
      <span class="text-muted">North America: </span>
      <span class="pull-right">{{@deal.distribution.northAmerica}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.us}}
    <li>
      <span class="text-muted">U.S.: </span>
      <span class="pull-right">{{@deal.distribution.us}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.canada}}
    <li>
      <span class="text-muted">Canada: </span>
      <span class="pull-right">{{@deal.distribution.canada}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.latam}}
    <li>
      <span class="text-muted">LatAm: </span>
      <span class="pull-right">{{@deal.distribution.latam}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.offshoreUs}}
    <li>
      <span class="text-muted">OFFSHORE U.S.: </span>
      <span class="pull-right">{{@deal.distribution.offshoreUs}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.asia}}
    <li>
      <span class="text-muted">ASIA: </span>
      <span class="pull-right">{{@deal.distribution.asia}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.japan}}
    <li>
      <span class="text-muted">Japan: </span>
      <span class="pull-right">{{@deal.distribution.japan}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.nonJapanAsia}}
    <li>
      <span class="text-muted">Non-Japan Asia: </span>
      <span class="pull-right">{{@deal.distribution.nonJapanAsia}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.china}}
    <li>
      <span class="text-muted">China: </span>
      <span class="pull-right">{{@deal.distribution.china}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.hongKong}}
    <li>
      <span class="text-muted">Hong Kong: </span>
      <span class="pull-right">{{@deal.distribution.hongKong}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.singapore}}
    <li>
      <span class="text-muted">Singapore: </span>
      <span class="pull-right">{{@deal.distribution.singapore}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.korea}}
    <li>
      <span class="text-muted">Korea: </span>
      <span class="pull-right">{{@deal.distribution.korea}}</span>
    </li>
  {{/if}}
  {{#if @deal.distribution.geoOther}}
    <li>
      <span class="text-muted">Other: </span>
      <span class="pull-right">{{@deal.distribution.geoOther}}</span>
    </li>
  {{/if}}
{{/if}}
