<div class="row">
  <div class="col-md-3">
    <IgmInput
      @value={{@bank.fullName}}
      @errors={{@bank.errors.fullName}}
      @label="Full Name"
    />
  </div>
  <div class="col-md-3">
    <IgmInput
      @value={{@bank.shortName}}
      @errors={{@bank.errors.shortName}}
      @label="Short Name"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <IgmInput
      @value={{@bank.fullNameEur}}
      @errors={{@bank.errors.fullNameEur}}
      @label="Euro Name"
    />
  </div>
  {{#unless @bank.isNew}}
    <div class="col-md-3">
      <IgmPowerSelect
        @selection={{this.selectedMergerBank}}
        @options={{@allBanks}}
        @label="Merger Name"
        @placeholder="Merger Name"
        @searchEnabled={{true}}
        @optionLabelPath="fullName"
        @onChange={{this.onMergerBankChange}}
        @allowClear={{true}}
        @search={{this.searchBankOptions}}
      />
    </div>
  {{/unless}}
</div>

<div class="row">
  <div class="form-group col-md-3">
    <IgmInput @value={{@bank.lei}} @errors={{@bank.errors.lei}} @label="LEI" />
  </div>
</div>

<button
  type="button"
  class="btn btn-default"
  {{on "click" this.save}}
>Save</button>