<h1>Edit Calendar Event</h1>

<CalendarEventForm
  @calendarEvent={{this.model}}
  @allCountries={{this.allCountries}}
  @delete={{this.deleteCalendarEvent}}
  @save={{this.saveCalendarEvent}}
  @toggle={{this.toggleAllDay}}
/>
