<TopNav>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <div class="back" {{on "click" this.back}}>
          <i class="icon-close clickable"></i>
        </div>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="showpage-alert-li" >
             <AlertPopover @alertable={{this.alertFeed}} class="pull-right" @iconClass="icon-bell-solid showpage-alert-icon"/>
      </li>
      <li>
        <PrintButton/>
      </li>
      <li>
        <ShareUrlPopover/>
      </li>

    </ul>
  </div>
</TopNav>
<br/><br/><br/>
<div class="row">

  <div class="col-md-2 col-md-push-10">
       <AddFeedPopover @feed={{this.dashboardFeed}} @save={{(fn this.saveFeed this.dashboardFeed)}}  @iconClass="icon-plus" @showPage={{true}}></AddFeedPopover>
  </div>

  <div class="col-md-9 col-md-offset-2 col-md-pull-1">
    <h1>
        {{this.story.headline}}
    </h1>
    <p>
      By <LinkTo @route="users.show" @model={{this.story.user.id}}>{{this.story.user.fullName}}</LinkTo>
      <span class="text-muted story-date">
              {{format-date this.story.feedSortDate attr="at"}}
      </span>
    </p>
    <StoryContent @story={{this.story}} />

    {{#if this.user.canAuthor }}
      <div class="row analyst-options">
        <div class="col-md-2">
          <LinkTo @route="stories.edit" @model={{this.story}} >Edit this Story</LinkTo>
        </div>
        <div class="col-md-10">
          <LinkTo @route="stories.versions" @model={{this.story.id}}>View Revisions</LinkTo>
        </div>
      </div>
    {{/if}}
  </div>
</div>
