<h3>Distribution Statistics</h3>

<div class="row">
  <div class="col-md-12">
    <h4>Stats By Geography</h4>

    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="EMEA"
      @labelClass="col-md-3"
      @value={{@distribution.emea}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Europe"
      @labelClass="col-md-3"
      @value={{@distribution.europe}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Germany/Austria/Switzerland"
      @labelClass="col-md-3"
      @value={{@distribution.germanyAustriaSwitzerland}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Germany/Austria"
      @labelClass="col-md-3"
      @value={{@distribution.germanyAustria}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Germany"
      @labelClass="col-md-3"
      @value={{@distribution.germany}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Austria"
      @labelClass="col-md-3"
      @value={{@distribution.austria}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Switzerland"
      @labelClass="col-md-3"
      @value={{@distribution.switzerland}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="UK/Ireland"
      @labelClass="col-md-3"
      @value={{@distribution.ukIreland}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="UK"
      @labelClass="col-md-3"
      @value={{@distribution.uk}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Ireland"
      @labelClass="col-md-3"
      @value={{@distribution.ireland}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="France"
      @labelClass="col-md-3"
      @value={{@distribution.france}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="BeNeLux"
      @labelClass="col-md-3"
      @value={{@distribution.benelux}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Belgium"
      @labelClass="col-md-3"
      @value={{@distribution.belgium}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Netherlands"
      @labelClass="col-md-3"
      @value={{@distribution.netherlands}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Luxembourg"
      @labelClass="col-md-3"
      @value={{@distribution.luxembourg}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Nordics"
      @labelClass="col-md-3"
      @value={{@distribution.nordics}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Scandinavia"
      @labelClass="col-md-3"
      @value={{@distribution.scandinavia}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Norway"
      @labelClass="col-md-3"
      @value={{@distribution.norway}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Sweden"
      @labelClass="col-md-3"
      @value={{@distribution.sweden}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Denmark"
      @labelClass="col-md-3"
      @value={{@distribution.denmark}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Finland"
      @labelClass="col-md-3"
      @value={{@distribution.finland}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Southern Europe"
      @labelClass="col-md-3"
      @value={{@distribution.southernEurope}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Iberia"
      @labelClass="col-md-3"
      @value={{@distribution.iberia}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Italy"
      @labelClass="col-md-3"
      @value={{@distribution.italy}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Spain"
      @labelClass="col-md-3"
      @value={{@distribution.spain}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Portugal"
      @labelClass="col-md-3"
      @value={{@distribution.portugal}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Greece"
      @labelClass="col-md-3"
      @value={{@distribution.greece}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Central & Eastern Europe"
      @labelClass="col-md-3"
      @value={{@distribution.centralAndEasternEurope}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Other Europe"
      @labelClass="col-md-3"
      @value={{@distribution.otherEurope}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Middle East/Africa"
      @labelClass="col-md-3"
      @value={{@distribution.middleEastAfrica}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Middle East"
      @labelClass="col-md-3"
      @value={{@distribution.middleEast}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Americas"
      @labelClass="col-md-3"
      @value={{@distribution.americas}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="North America"
      @labelClass="col-md-3"
      @value={{@distribution.northAmerica}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="U.S."
      @labelClass="col-md-3"
      @value={{@distribution.us}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Canada"
      @labelClass="col-md-3"
      @value={{@distribution.canada}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="LatAm"
      @labelClass="col-md-3"
      @value={{@distribution.latam}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Offshore U.S."
      @labelClass="col-md-3"
      @value={{@distribution.offshoreUs}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Asia"
      @labelClass="col-md-3"
      @value={{@distribution.asia}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Japan"
      @labelClass="col-md-3"
      @value={{@distribution.japan}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Non-Japan Asia"
      @labelClass="col-md-3"
      @value={{@distribution.nonJapanAsia}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="China"
      @labelClass="col-md-3"
      @value={{@distribution.china}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Hong Kong"
      @labelClass="col-md-3"
      @value={{@distribution.hongKong}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Singapore"
      @labelClass="col-md-3"
      @value={{@distribution.singapore}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Korea"
      @labelClass="col-md-3"
      @value={{@distribution.korea}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Other"
      @labelClass="col-md-3"
      @value={{@distribution.geoOther}}
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Stats By Investor Type</h4>
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Central Banks/OIs"
      @labelClass="col-md-3"
      @value={{@distribution.centralBanksOis}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Fund/Asset Managers"
      @labelClass="col-md-3"
      @value={{@distribution.fundAssetManagers}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Pensions/Insurance"
      @labelClass="col-md-3"
      @value={{@distribution.pensionsInsurance}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Pensions"
      @labelClass="col-md-3"
      @value={{@distribution.pensions}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Insurance"
      @labelClass="col-md-3"
      @value={{@distribution.insurance}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Banks/Private Banks"
      @labelClass="col-md-3"
      @value={{@distribution.banksPrivateBanks}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Banks"
      @labelClass="col-md-3"
      @value={{@distribution.banks}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Bank Treasuries"
      @labelClass="col-md-3"
      @value={{@distribution.bankTreasuries}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Private Banks/Retail"
      @labelClass="col-md-3"
      @value={{@distribution.privateBanksRetail}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Private Banks"
      @labelClass="col-md-3"
      @value={{@distribution.privateBanks}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Retail"
      @labelClass="col-md-3"
      @value={{@distribution.retail}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Corporates"
      @labelClass="col-md-3"
      @value={{@distribution.corporates}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Hedge Funds"
      @labelClass="col-md-3"
      @value={{@distribution.hedgeFunds}}
    />
    <IgmInput
      @inputWrapperClass="col-md-3"
      @label="Other"
      @labelClass="col-md-3"
      @value={{@distribution.typeOther}}
    />
  </div>
</div>
