<div class="row">
  <div class="col-md-3">
    <div class="product-title credit" title="credit" data-t="discover-product-title">
      Credit
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row1.col1.landingPage.category name=this.data.credit.row1.col1.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row1.col1.name}}
          </div>
        </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row1.col2.landingPage.category name=this.data.credit.row1.col2.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row1.col2.name}}
          </div>
        </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row1.col3.landingPage.category name=this.data.credit.row1.col3.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row1.col3.name}}
          </div>
        </LinkTo>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row2.col1.landingPage.category name=this.data.credit.row2.col1.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row2.col1.name}}
          </div>
       </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row2.col2.landingPage.category name=this.data.credit.row2.col2.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row2.col2.name}}
          </div>
        </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row2.col3.landingPage.category name=this.data.credit.row2.col3.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row2.col3.name}}
          </div>
        </LinkTo>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row3.col1.landingPage.category name=this.data.credit.row3.col1.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row3.col1.name}}
          </div>
        </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row3.col2.landingPage.category name=this.data.credit.row3.col2.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row3.col2.name}}
          </div>
        </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row3.col3.landingPage.category name=this.data.credit.row3.col3.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row3.col3.name}}
          </div>
        </LinkTo>
      </div>
      {{!-- <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row4.col1.landingPage.category name=this.data.credit.row4.col1.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row4.col1.name}}
          </div>
      </LinkTo>
      </div> --}}
    </div>
       <div class="row">
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row4.col1.landingPage.category name=this.data.credit.row4.col1.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row4.col1.name}}
          </div>
      </LinkTo>
      </div>
      <div class="col-md-4">
        <LinkTo @route='landing-page' @query={{hash category=this.data.credit.row4.col2.landingPage.category name=this.data.credit.row4.col2.landingPage.name}}>
          <div class="product-link credit">
            {{this.data.credit.row4.col2.name}}
          </div>
      </LinkTo>
      </div>
    </div>
  </div>
</div>
